PORT=3000
NODE_ENV=development
DATABASE_URL=postgres://postgres:local_secure_password@localhost:5432/nest_boilerplate_db
MONGO_URI=mongodb://root:local_secure_password@localhost:27017/nest_boilerplate_db?authSource=admin